<div class= "bg-[#0d1a2d]  w-screen h-screen flex items-center justify-center ">

    <div class="  md:h-3/4  sm:h-5/6  sm:w-3/4 md:w-1/4 lg:w-1/5  columns-xs container shadow-lg shadow-gray-700 bg-[#15273f] p-5 shrink justify-self-center">

        <img src="/assets/image-equilibrium.jpg" class=" rounded-lg mb-2 w-full  ">
        <label class="text-white first-letter:uppercase font-bold text-lg mb-2"> equilibrium #3429 </label>
        <br>
        <label class="text-[#5c708e]  mb-2 text-base"> our equilibrium collection promotes balances and claims</label>
        <br>
        <div class="flex flex-row justify-between mt-2">
            <div class="shrink">
                <img src="/assets/ethereum.png" class="w-4 aspect-square text-[#2aebe6] float-left mr-2 mt-1" >
                <label class="text-[#2aebe6] font-bold font-mono">0.041 ETH</label>
            </div>
            <div class="shrink">
                <img src="/assets/image-avatar.png" class="w-4 aspect-square float-left mr-2 pt-2 mt-1" >
                <label class="text-[#829ac0] font-bold font-mono">3 days left</label>
            </div >

        </div>

        <div class=" my-5 h-[0.1px] bg-[#829ac0] "> </div>

        <div class="flex  items-center">
            <div class="shrink">
                <img src="/assets/image-avatar.png" class="border-2 border-white rounded-full w-6 aspect-square float-left mr-2 pt-2 mt-1" >
                
               
                <label class="text-[#829ac0]   font-mono font-extralight text-sm">Creation of <label class="text-white text-sm  font-extralight font-mono">Jules Wyvern</label> </label>
                    
                
               
            </div >

        </div>

    </div>

</div>